body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.completed {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

article {
    margin: 3% 5%;
}

form {
    display: grid;
    grid-template-columns: 50px 200px 100px;
}

button {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    font-weight: bold;
    color: white;
    background-color: blue;
    margin: 4px;
    vertical-align: middle;
}

input {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

label {
    padding: 5px;
    margin: 5px;
}
